body{
	background-image:url(img/BG1.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.container {
	width: 300px;
	height: 450px;
	padding: 30px;
	background-color: white;
	border: 1px solid #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 10px #ccc;
	opacity: 0.75;
}

.container h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
}

.container label {
	display: block;
	margin-bottom: -8px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.container button[type="submit"] {
	width: 103%;
	padding: 5px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	align-self: center;
	
}

.container button[type="submit"]:hover {
	text-decoration: underline;
}

.container .close {
	
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	
}
.close img{
	height: 30px;
	width: 30px;
}

.container .links {
	text-align: center;
	margin-top: 20px;
}

.container .links button {
	width: 103%;
	padding: 5px;
	background-color: black;
	color:white;
	border: none;
	cursor: pointer;
	align-self: center;
}
.container .links button:hover {
	text-decoration: underline;
}

.social-media {
	margin-top: 20px;
}

.social-media-option {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.social-media-option:hover {
	background-color: #ddd;
}

.social-media-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.logo {
	display: block;
	margin: 0 auto;
	width: 175px;
	height: auto;
	margin-bottom: 3px; 
    margin-top: 0px;
}